	<%# @restaurant.each do |@restaurant|%>
		<div><span>名字：</span><span><%=@restaurant.name %></span></div>
		<div><span>位置：</span><span><%=@restaurant.location %></span></div>
		<div><span>最低金額：</span><span><%=@restaurant.minmoney %></span></div>
		<div><span>描述：</span><span><%=@restaurant.description %></span></div>
	<%# end %>